// Colors
$text-white: #FDFEFE;
$text-dark: #1A1718;
$text-grey: #A2A1A3;
$light-orange: #FDF2E9;
$link-color: #EC7063;
$light-blue: #EBF5FB;
$light-green: #D5F5E3;
$light-pink: #FADBD8;


// Fonts
$main-font: 'Raleway', sans-serif;
$logo-text: 700; 



