@import 'config';
@import 'utilities'; 
@import 'mobile';
@import 'footer';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    font-family: $main-font;
    max-width: $max-width;
    margin: 0 auto; 
}

section {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

footer {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;

    .logo-text {
        font: $logo-text;
    }

    #nav-links {
        display: flex;
    }

    li {
        margin-right: 3rem;
        list-style: none;
    }

    a {
        color: $text-grey;
        font-family: $main-font;
        text-decoration: none;

        &:hover {
            color: $link-color;
        }
    }

    .nav-icons {
        display: flex;

        i {
            margin-left: 3rem;
        }
    }
}

.promotion {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 80vh;
}

.promo-chair {
    background-color: $light-blue;
}

.promo-sales {
    background-color: $light-orange;
}

.promo-sales-info {
    width: 80%;
    justify-items: center;
    align-items:   center;
}